body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #000000;
      font-family: 'IBM Plex Sans';
}

.logo {
      display: flex;
      margin: 42px auto;
}

.titulo {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 42px;
      color: #FFFFFF;
      margin: 27px auto;
      display: flex;
      justify-content: center;
}

.perfis {
      display: flex;
      flex-wrap: wrap;
      width: 700px;
      margin: 0 auto;

}

.perfil {
      margin: 34px 6px;
      justify-content: center;
      align-items: center;
}

.addperfil{
      margin: 34px 6px;
      justify-content: center;
      align-items: center;
      opacity: 0.7;
}

.addperfil img{
      border: 1px solid transparent;
}

.addperfil:hover{
      font-weight: 500;
      opacity: 1;
}

.perfil img {
      border-radius: 6px;
      border: 1px solid transparent;
}

.perfil p {
      color: #FFFFFF;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
}

.addperfil p {
      color: #FFFFFF;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
}

.perfil:hover{
      font-weight: 500;
}

.imagemperfil:hover {
      border: 1px solid #fff;
      border-radius: 20px;
      transform: scale(1.3);
      width: 160px;
      height: 160px;
}

footer{
      display: flex;
      justify-content: center;
      margin: 82px auto;
}

button {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 21px;  
      color: #FFFFFF;   
      background-color: #000000;
      border-radius: 6px;
      border: 1px solid #FFFFFF;
      padding:15px 45px; 
}

button:hover {
      background-color: #fff;
      color: #000000;
      font-weight: 500;
      cursor: pointer;
}